@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}
:root{
    --primary-color : #ACC8E5;
    --second-color : #112A46;
}

.bgc-blue{
    background-color: var(--primary-color);
}

/* IMAGE */
img{
    object-fit: contain;
}



/* Typo */
.text-deco{
    text-decoration: none;
}

.text-center{
    text-align: center;
}

/* SIZE */
.w-1200{
    max-width: 1200px;
}
.w-1000{
    max-width: 1000px;
}

.w-70{
    width: 70%;
}
.w-50{
    max-width: 50%;
}
.w-60{
    width: 60%;
}

.w-55{
    max-width: 55px;
}

.h-80{
    height: 80px;
}
/* MARGIN */
.p-1 {
    padding: 16px; /*1em = 1rem = 16px*/
}
.p-45{
    padding: 45px;
}
.p-5{
    padding: 5px;
}
.m-auto{
    margin: auto;
}
.m-5{
    margin: 5px;
}
.m-10{
    margin: 10px;
}
.m-15{
    margin: 15px;
}

.m-b-35{
    margin-bottom: 35px;
}
/* DISPLAY */
.d-flex {
    display: flex;
}

.d-grid{
    display: grid;
}
 .wrap{
    flex-wrap: wrap;
 }

.jc-center{
    justify-content: center;
}
.sp-bet{
    justify-content: space-between;
}
.jc-end{
    justify-content: flex-end;
}

.align-center{
    align-items: center;
}



/* COLOR */
.light-blue{
    background-color: var(--primary-color);
}
.police-color{
    color: var(--second-color);
}
.bgc-w{
    background-color: white;
}
.white{
    color: white;
}

/* OBJECT */
.border-ra{
    border-radius: 20px;
}

.input{
    padding: 5px;
    height: 30px;
    border: none;
    max-width: 460px;
}

.button{
    background-color: var(--second-color);
    color: white;
    border: none;
    max-width: 250px;
    padding: 8px;
    font-size: 20px;
}

.button:hover{
    cursor: pointer;
}


h4{
    display: inline;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* --------------------------------- */




/* MENU BURGER */
header {
    display: flex;
    justify-content: flex-end;
}
.menu-btn, .header__nav{
    display: none;
}

.navi .nav__list_item {
    list-style-type: none;
}
@media screen and (max-width: 550px) {

    .dis-none{
        display: none;
    }
    .menu-btn {
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
        z-index:2;
        overflow: hidden;
    }
    .header__nav{
        display: block;
    }
    .menu-btn .bar {
        width: 30px;
        height: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 4px;
        transform: translate(-50%, -50%);
        background-color: white;
        transition: all 0.3s ease-in-out;
    }

    .menu-btn .bar:nth-of-type(2) {
        top: calc(50% - 9px);
    }
    .menu-btn .bar:nth-of-type(3) {
        top: calc(50% + 9px);
    }

    .menu-btn.active .bar:nth-of-type(1) {
        display: none;
    }
    .menu-btn.active .bar:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);  
    }
    .menu-btn.active .bar:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg); 
    }

    .navi {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background-color: #112A46;
        transform: translateX(100%);
        transition: transform 0.5s; 
    }

    .navi.active {
        transform: translateX(0);
    }

}